@font-face {
  font-family: "SurveyWithCode";
  src:
    url("/serif/SurveyWithCode-Bold.woff2") format("woff2"),
    url("/serif/SurveyWithCode-Bold.woff") format("woff"),
    url("/serif/SurveyWithCode-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SurveyWithCode";
  src:
    url("/serif/SurveyWithCode-BoldItalic.woff2") format("woff2"),
    url("/serif/SurveyWithCode-BoldItalic.woff") format("woff"),
    url("/serif/SurveyWithCode-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SurveyWithCode";
  src:
    url("/serif/SurveyWithCode-Regular.woff2") format("woff2"),
    url("/serif/SurveyWithCode-Regular.woff") format("woff"),
    url("/serif/SurveyWithCode-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SurveyWithCode";
  src:
    url("/serif/SurveyWithCode-Italic.woff2") format("woff2"),
    url("/serif/SurveyWithCode-Italic.woff") format("woff"),
    url("/serif/SurveyWithCode-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Keep TTT fonts as fallback */
@font-face {
  font-family: "TTT";
  font-style: normal;
  font-weight: 400; /* Normal / Regular */
  src:
    local("TTT Regular"),
    url("/fonts/TTT.woff2") format("woff2"),
    url("/fonts/TTT.woff") format("woff");
}

@font-face {
  font-family: "TTT";
  font-style: italic;
  font-weight: 400; /* Italic */
  src:
    local("TTT_Italic"),
    url("/fonts/TTT_Italic.woff2") format("woff2"),
    url("/fonts/TTT_Italic.woff") format("woff");
}

@font-face {
  font-family: "TTT";
  font-style: normal;
  font-weight: 700; /* Bold */
  src:
    local("TTT_Bold"),
    url("/fonts/TTT_Bold.woff2") format("woff2"),
    url("/fonts/TTT_Bold.woff") format("woff");
}

@font-face {
  font-family: "TTT";
  font-style: italic;
  font-weight: 700; /* Bold Italic */
  src:
    local("TTT_Bold_Italic"),
    url("/fonts/TTT_Bold_Italic.woff2") format("woff2"),
    url("/fonts/TTT_Bold_Italic.woff") format("woff");
}
