@import "tailwindcss";

/* @import "./fonts.css"; */
@import "../styles/math/mathfonts.css";
@import "../styles/math/mathstyles.css";
@import "./colors.css";

@import "../styles/cards.css";
@import "../styles/subheading-anchor.css";
@import "../styles/scrollbar.css";
@import "../styles/steps.css";
@import "../styles/code-block.css";
@import "../styles/image-zoom.css";
@import "../styles/utilities.css";

@import "../styles/hamburger.css";
@import "../styles/typesetting-article.css";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@layer base {
  :root {
    --nextra-primary-hue: 212deg;
    --nextra-primary-saturation: 100%;
    --nextra-navbar-height: 3.5rem;
    --nextra-menu-height: 3.75rem;
    --nextra-banner-height: 2.5rem;
    --nextra-bg: 255, 255, 255;
    --nextra-primary-lightness: 45%;

    /* --default-mono-font-family: 'TTT'; */
  }

  .dark {
    --nextra-primary-hue: 204deg;
    --nextra-primary-saturation: 100%;
    --nextra-bg: 1, 1, 1;
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
  }

  article > * {
    @apply text-justify;
  }

  html {
    font-size: 13.333px;
    line-height: 1.2;

    @apply text-base;
    /* font-feature-settings:
      "rlig" 1,
      "calt" 1,
      "ss01" 1; */
    -webkit-tap-highlight-color: transparent;
    /* hanging-punctuation: first last allow-end; */
    font-feature-settings: "liga", "kern";
    font-variant-ligatures: common-ligatures discretionary-ligatures;
    font-kerning: normal;
    font-variant-numeric: oldstyle-nums;
    letter-spacing: 0;
    word-spacing: 0;

    font-family:
      SurveyWithCode,
      Katex_Main,
      "Segoe UI",
      TTT,
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Roboto,
      Noto Sans,
      Ubuntu,
      Cantarell,
      Helvetica Neue,
      Arial,
      sans-serif,
      Apple Color Emoji,
      Segoe UI Emoji,
      Segoe UI Symbol,
      Noto Color Emoji;

    scroll-padding-top: 4rem;
    font-feature-settings:
      "rlig" 1,
      "calt" 1,
      "ss01" 1;
    /* font-feature-settings: normal; */
    /* font-size: 1rem; */
    tab-size: 4;
  }

  /* Target all KaTeX containers */
  .katex,
  .katex * {
    @apply antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .dark:text-slate-200:where(.dark *) {
    color: rgba(229, 231, 235);
  }
}

@layer components {
  @keyframes progress-ring-indeterminate {
    0% {
      stroke-dasharray: 0.01px 43.97px;
      transform: rotate(0);
    }

    50% {
      stroke-dasharray: 21.99px 21.99px;
      transform: rotate(450deg);
    }
    100% {
      stroke-dasharray: 0.01px 43.97px;
      transform: rotate(3turn);
    }
  }

  .ring-progress-rotate {
    min-block-size: 16px;
    min-inline-size: 16px;
    outline: none;
  }

  .progress-ring.indeterminate.ring-progress-rotate circle.ring-progress-rotate {
    animation: progress-ring-indeterminate 2s linear infinite;
  }

  .progress-ring.ring-progress-rotate circle.ring-progress-rotate {
    fill: none;
    stroke: currentColor;
    /* hsl(209, 100%, 36%); */
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-dasharray: 43.97;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: all 0.25s linear;
  }
}

@layer components {
  @keyframes indeterminate {
    0% {
      inset-inline-start: -33%;
    }
    100% {
      inset-inline-start: 100%;
    }
  }

  .animate-gradient {
    animation-name: indeterminate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
